.container{
  background: url("../../assets/img/msi/h5_bg.jpg") no-repeat;
  background-size: 100% auto;
  padding-top: 201/16+rem;
}

.start-time{
  font-family: PingFangSC-Semibold;
  font-size: 14/16+rem;
  color: #FFFFFF;
  text-align: center;
  line-height: 39/16+rem;
}

.bold{
  font-weight: bold;
}

.gray{
  color: #909399 !important;
}

.white{
  background-color: #f2f2f2;
}

.gray1{
  background-color: #ebebeb;
}

img{
  vertical-align:top; 
}

.mgv16{
  margin: 16/16+rem 0 !important;
}

.padh15{
  padding: 0 15/16+rem !important;
}

.mgt16{
  margin-top: 16/16+rem !important;
}

.mgt20{
  margin-top: 20/16+rem !important;
}

.padt20{
  padding-top: 20/16+rem !important;
}
.padt30{
  padding-top: 30/16+rem !important;
}
.padb20{
  padding-bottom: 20/16+rem !important;
}

.padb16{
  padding-bottom: 16/16+rem !important;
}

.padb25{
  padding-bottom: 25/16+rem !important;
}

.padb30{
  padding-bottom: 30/16+rem !important;
}
.padb37{
  padding-bottom: 37/16+rem !important;
}

.padb32{
  padding-bottom: 32/16+rem !important;
}
.padb47{
  padding-bottom: 47/16+rem !important;
}

.padt24{
  padding-top: 24/16+rem !important;
}

.mgb30{
  margin-bottom: 30/16+rem !important;
}

.but img{
  width: 165/16+rem;
  height: 40/16+rem;
  border: none;
  background-color: transparent;
  margin-bottom: 24/16+rem;
  pointer-events: auto;
}

.title1{
  width: 86/16+rem;
  height: 38/16+rem;
}

.green{
  color: #6DD400;
}

.title2{
  margin-top: -8/16+rem;
  font-family: SourceHanSansCN-Bold;
  font-size: 18/16+rem;
  letter-spacing: 0;
  text-align: center;
  line-height: 22/16+rem;
}

.sub1{
  font-family: PingFangSC-Regular;
  font-size: 12/16+rem;
  color: #FFFFFF;
  line-height: 20/16+rem;
  text-align: left;
  padding: 0 15/16+rem;
}

.sub2{
  font-family: PingFangSC-Regular;
  font-size: 12/16+rem;
  color: #909399;
  line-height: 20/16+rem;
  text-align: left;
}

.sub3{
  font-family: PingFangSC-Regular;
  font-size: 12/16+rem;
  color: #303133;
  line-height: 20/16+rem;
  text-align: left;
}

.sub4{
  font-family: PingFangSC-Regular;
  font-size: 12/16+rem;
  color: #909399;
  line-height: 20/16+rem;
  text-align: left;
}

.title5{
  text-align: center;
  font-family: SourceHanSansCN-Bold;
  font-size: 18/16+rem;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 22/16+rem;
}

.line{
  color: #F7B500;
  border-bottom: 1/16+rem solid #F7B500;
  display: inline-block;
  margin-bottom: 4/16+rem;
}

.black{
  background-color: #212121;
}
.black2{
  background-color: #252525;
}

.center{
  text-align: center;
}