* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  background: #F5F9FA url("../../assets/img/shaBa/h5/BG_H5.jpg") no-repeat;
  background-size: contain;
  padding: 480/16 + rem 20/16 + rem 40/16 + rem 20/16 + rem;
  
}

.title_1 {
  background: url("../../assets/img/shaBa/h5/hdsj.png") no-repeat;
  background-size: cover;
  width: 112/16 + rem;
  height: 25/16 + rem;
}

.title_t_1 {
  height: 20/16 + rem;
  font-family: PingFangSC-Medium;
  font-size: 14/16 + rem;
  color: #7984a8;
  letter-spacing: 0;
  font-weight: 500;
  margin-top: 12/16 + rem;
}

.title_2 {
  background: url("../../assets/img/shaBa/h5/hdnr.png") no-repeat;
  background-size: cover;
  width: 133/16 + rem;
  height: 25/16 + rem;
  margin-top: 30/16 + rem;
}
.title_sub {
  display: flex;
  margin-top: 12/16 + rem;
  margin-bottom: 10/16 + rem;
  .icon {
    width: 14/16 + rem;
    height: 22/16 + rem;
    font-family: AppleSDGothicNeo-Medium;
    font-size: 16/16 + rem;
    color: #7783a7;
    letter-spacing: 0;
    line-height: 22/16 + rem;
    font-weight: 500;
    margin-right: 6/16 + rem;
  }
  .icon_t {
    height: 22/16 + rem;
    font-family: PingFangSC-Semibold;
    font-size: 16/16 + rem;
    color: #7783a7;
    letter-spacing: 0;
    line-height: 22/16 + rem;
    font-weight: 600;
  }
}
.table {
  width: 335/16 + rem;
  border: 1/16 + rem solid #bcc3d5;
  border-radius: 4/16 + rem;
  margin: auto;
  overflow: hidden;
  > div {
    display: flex;
    line-height: 37/16 + rem;
    text-align: center;
    span{
      color: #DCB468;
    }
    > div:nth-child(1) {
      width: 78/16 + rem;
      font-family: PingFangSC-Semibold;
      font-size: 12/16 + rem;
      color: #ffffff;
      letter-spacing: 0;
      font-weight: 600;
      background: #959ebc;
      border-right: 1/16 + rem solid #bcc3d5;
    }
    > div:nth-child(2) {
      background: #6a738f;
      flex: 1;

      font-family: PingFangSC-Semibold;
      font-size: 12/16 + rem;
      color: #ffffff;
      letter-spacing: 0;
      font-weight: 600;
    }
  }
  > div:not(:last-child) {
    border-bottom: 1/16 + rem solid #bcc3d5;
  }
}

.title_3 {
  background: url("../../assets/img/shaBa/h5/hdgz.png") no-repeat;
  background-size: cover;
  width: 116/16 + rem;
  height: 25/16 + rem;
  margin-top: 30/16+rem;
  margin-bottom: 12/16+rem;
}

.sub {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #7984a8;
  letter-spacing: 0;
  font-weight: 500;
  margin-top: 10/16+rem;
}
.sub2 {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #7984a8;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 500;
  span {
    color: #dcb468;
  }
}
