* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  background: #FCF5F3 url("../../assets/img/real51/h5/BG_H5.jpg") no-repeat;
  background-size: contain;
  padding: 480/16 + rem 0 + rem 40/16 + rem 0 + rem;
  
}

.title_t_1 {
  height: 20/16 + rem;
  font-family: PingFangSC-Medium;
  font-size: 14/16 + rem;
  color: #7984a8;
  letter-spacing: 0;
  font-weight: 500;
  margin-top: 12/16 + rem;
}

.title_2 {
  background: url("../../assets/img/real51/h5/hdnr.png") no-repeat;
  background-size: cover;
  width: 133/16 + rem;
  height: 25/16 + rem;
  // margin-top: 30/16 + rem;
  margin-left: 20/16 + rem;
}
.title_sub {
  display: flex;
  margin-top: 12/16 + rem;
  margin-bottom: 10/16 + rem;
  .icon {
    width: 14/16 + rem;
    height: 22/16 + rem;
    font-family: AppleSDGothicNeo-Medium;
    font-size: 16/16 + rem;
    color: #7783a7;
    letter-spacing: 0;
    line-height: 22/16 + rem;
    font-weight: 500;
    margin-right: 6/16 + rem;
  }
  .icon_t {
    height: 22/16 + rem;
    font-family: PingFangSC-Semibold;
    font-size: 16/16 + rem;
    color: #7783a7;
    letter-spacing: 0;
    line-height: 22/16 + rem;
    font-weight: 600;
  }
}
.table {
  padding-top: 20px;
  > .thead,
  .tbody > div {
    display: flex;
    > div {
      text-align: center;
    }
    > div:nth-child(1) {
      width: 60 /16 + rem;
    }
    > div:nth-child(2) {
      width: 120 /16 + rem;
    }
    > div:nth-child(3) {
      flex: 1;
    }
    > div:nth-child(4) {
      flex: 1;
    }
  }
  .thead {
    background: #D0A881;
    line-height: 56 /16 + rem;
    font-family: PingFangSC-Semibold;
    color: #ffffff;
    letter-spacing: 0;
    font-weight: 600;
    font-size: 14px;
    overflow: hidden;
    span{line-height: 15/16+rem;display: inline-block;vertical-align: middle;}
  }
  .tbody {
    border-top: 0;

    font-family: DINPro-Medium;
    font-size: 13 /16 + rem;
    color: #63676C;
    letter-spacing: 0 /16 + rem;
    font-weight: 500;

    overflow: hidden;

    > div {
      height: 37 /16 + rem;
      border-bottom: 1 /16 + rem solid rgba(203,162,117,1);
      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-style: normal;
          color: #f16a00;
        }
      }
      > div:not(:last-child) {
        border-right: 1 /16 + rem solid rgba(203,162,117,1);
      }
    }
  }
}


.title_3 {
  background: url("../../assets/img/real51/h5/hdgz.png") no-repeat;
  background-size: cover;
  width: 116/16 + rem;
  height: 25/16 + rem;
  margin-top: 30/16+rem;
  margin-bottom: 2/16+rem;
  margin-left: 20/16 + rem;
}

.sub {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #444B52;
  letter-spacing: 0;
  font-weight: 500;
  margin: 0 20/16 + rem;
  margin-top: 12/16+rem;
  >span{color: #90672D;}
}
.sub2 {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #444b52;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 500;
  margin: 0 20/16 + rem;
  p{
  padding-top: 10px;
  }
  span {
    color: #dcb468;
  }
}
