html {
  font-size: 4.2666666667vw;
  max-width: 750px;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  html {
    font-size: 32px;
  }
  html body {
    max-width: 750px;
    margin: 0 auto;
  }
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opactity 0.5s;
}
