$count: 89.9422423;
*{
  box-sizing:border-box;
}
.container{
  background: url("../../assets/img/newYearEvent/pc_bg.jpg") no-repeat;
  background-size:100%;
  background-color: #fdebd2;
  padding-top:593/$count + rem;
  padding-bottom:60/$count+rem;
}
.box{
  margin:auto;
  width:1080/$count + rem;
}
.start_t{
  font-size: 24/$count + rem;
  color: #4C2323;
  letter-spacing: 0;
  text-align: center;
}
.sub{
  padding:0 40/$count + rem;
  font-size: 20/$count + rem;
  color: #754C42;
  text-align: center;
  line-height: 32/$count + rem;
  margin-top:29/$count+rem;
}
.ljlq{
  button{
    display: block;
    margin:auto;
    margin-top: 21/$count+rem;
    width: 202/$count+rem;
    height: 44/$count+rem;
    border:none;
    background-color: transparent;
    background: url("../../assets/img/newYearEvent/btn_lq.png") no-repeat;
    background-size:100%;

    font-size: 18/$count+rem;
    color: #FFFFFF;
  }
}
.table{
  margin-top:29/$count+rem;
  >div{
    display:flex;
    line-height: 50/$count+rem;
    text-align:center;
    background: #F3C8A0;
    color: #754C42;
    font-size: 18/$count+rem;
    >div{
      flex:1;
    }
  }
  .t_h{
    border-bottom:2/$count+rem solid #DCAF84;
  }
  .t_b{
    flex-direction: column;
    >div{
      display:flex;
      >div{
        flex:1;
      }
    }
    >div:nth-child(even){
      background: #F9D1AB;
    }
  }
}
.hdgz{
  margin-top:38/$count+rem;
  font-size: 32/$count+rem;
  color: #754C42;
  letter-spacing: 0;
  text-align: center;
}
.hdgz_b{
  margin-top:17/$count+rem;
  >div{
    display:flex;
    font-size: 18/$count+rem;
    color: #754C42;
    line-height: 32/$count+rem;
    >span{
      margin-right: 14/$count+rem;
      font-weight: 500;
    }
  }
  >div:not(:last-child){
    margin-bottom: 20/$count+rem;
  }
}